/.DS_Store
/2024_farm_unit_data_2024-01-01_2024-11-30.xlsx
/2024_parcel_etaw_data_2024-01-01_2024-11-30.xlsx
/data.json
/data2.json
/data3.json
/four_data.json
/gsa.account.csv
/gsa.parcel (1).csv
/gsa.parcel.csv
/insights_look.pdf

*.json
*.csv